@using Business_Entity;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<UserApp> userManager




<!DOCTYPE html>
<html lang="en">
<head>
    <!----- /*
          فایل رو اد کنیم  www.root  زیر وجود نداره برای همین باید به  css  چون آدرس های
    */ ----->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قالب آموزش آنلاین ایزی لرن</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="css/carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-rtl.css">
    <link rel="stylesheet" href="css/customcss/style.css">
    <link rel="stylesheet" href="css/fontawesome/css/all.css">
</head>
<body>
    <!----- Start header ----->
    <header class="bg-white">
        <div class="container">
            <div class="row pb-3">

                <div class="d-none d-lg-block col-lg-2">
                    <img src="images/logo.jpg" alt="EasyLearn" title="EasyLearn" class="img-fluid">
                </div>

                <div class="d-none d-lg-flex col-lg-6 align-items-center search-box">
                    <form action="" method="">
                        <div class="input-group">
                            <input type="search" name="" class="form-control rounded-pill" placeholder="عنوان مورد نظر خود را جستجو کنید ...">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-info rounded-pill font-13">جستجو</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="d-none d-lg-flex col-lg-4 align-items-center justify-content-end">
                    @* <a href="#" class="cart mt-2 ml-2 dropdown" data-toggle="dropdown">
                    <span class="badge badge-info badge-pill">2</span><i class="fa fa-shopping-basket"></i>
                    <div class="dropdown-menu dropdown-cart mt-3">
                    <ul class="list-unstyled">
                    <li>
                    <img src="images/bootstrap.jpg" class="m-1 ml-3">
                    <div class="float-right">
                    <small class=" mt-3 mr-2 d-block">آموزش جامع Bootstrap 4 (64.000 تومان)</small>
                    </div>
                    </li>
                    <li>
                    <img src="images/php-security-2.png" class="m-1 ml-3">
                    <div class="float-right">
                    <small class=" mt-3 mr-2 d-block">آموزش امنیت در PHP (64.000 تومان)</small>
                    </div>
                    </li>
                    <li>
                    <button class="btn btn-info m-1 ml-3 font-12">پرداخت</button>
                    <div class="float-right">
                    <small class=" mt-3 mr-2 d-block">قیمت کل : 128.000 تومان</small>
                    </div>
                    </li>
                    </ul>
                    </div>
                    </a>*@

                    @if (User.Identity.IsAuthenticated)
                    {
                        var user = await userManager.FindByNameAsync(User.Identity.Name); 
                        <div>@user.FirstName @user.LastName</div>
                        <a asp-action="Logout" asp-controller="Account" class="btn btn-outline-info font-13 vazir-med-fa"><i class="fa fa-user-plus pl-1"></i>خروج</a>
                    }
                    else
                    {
                        <a asp-action="Register" asp-controller="Account" class="btn btn-outline-info font-13 vazir-med-fa"><i class="fa fa-user-plus pl-1"></i>ثبت نام</a>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-info font-13 vazir-med-fa mx-2">ورود</a>
                    }
                   
                 
                </div>

            </div>

            <div class="row">
                <!----- Start mobile header ----->

                <div class="col-12 d-flex d-lg-none justify-content-center">
                    <img src="images/logo.jpg" alt="Easylearn" alt="Easylearn">
                </div>

                <div class="col-12 d-flex d-lg-none justify-content-center mb-4 mobile-header">
                    <a href="sign-up.html" class="border-left ml-3"><i class="fa fa-user-plus ml-3"></i></a>
                    <a href="login.html" class="border-left ml-3"><i class="fa fa-lock ml-3"></i></a>
                    <a href="teach.html" class="border-left ml-3"><i class="fa fa-graduation-cap ml-3"></i></a>
                    <a href="#" class="border-left ml-3 dropdown" data-toggle="dropdown">
                        <span class="badge badge-info badge-pill">2</span><i class="fa fa-shopping-basket ml-3"></i>
                        <div class="dropdown-menu  dropdown-cart mt-3 mx-5">
                            <ul class="list-unstyled">
                                <li>
                                    <img src="images/bootstrap.jpg" class="m-1 ml-3">
                                    <div class="float-right">
                                        <small class=" mt-3 mr-2 d-block">آموزش جامع Bootstrap 4 (64.000 تومان)</small>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/php-security-2.png" class="m-1 ml-3">
                                    <div class="float-right">
                                        <small class=" mt-3 mr-2 d-block">آموزش امنیت در PHP (64.000 تومان)</small>
                                    </div>
                                </li>
                                <li>
                                    <button class="btn btn-info m-1 ml-3 font-12">پرداخت</button>
                                    <div class="float-right">
                                        <small class=" mt-3 mr-2 d-block">قیمت کل : 128.000 تومان</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </a>
                    <a href="#search" data-toggle="collapse"><i class="fa fa-search"></i></a>
                </div>

                <div id="search" class=" d-lg-none col-10 mx-auto collapse mb-4 justify-content-center">
                    <form action="" method="">
                        <div class="input-group">
                            <input type="search" name="" class="form-control rounded-pill" placeholder="عنوان مورد نظر خود را جستجو کنید ...">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-info rounded-pill font-13">جستجو</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div><!----- End mobile header ----->
        </div>
    </header>
    <!----- End header ----->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-white">
        <!----- Start footer ----->
        <div class="container py-2">
            <div class="row">

                <div class="col-md-4">
                    <img src="images/logo4.jpg" alt="" class="img-fluid">
                    <p class="text-justify font-14 vazir mb-4">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است.
                    </p>
                    <p class="font-14"><i class="fas fa-map-marker-alt text-muted ml-2"></i> ایران , تهران , زعفرانیه , ساختمان مهر</p>
                    <p class="font-14"><i class="fas fa-envelope text-muted ml-2"></i> info@sitename.com</p>
                    <p class="font-14"><i class="fa fa-phone text-muted ml-2"></i>021-12345678</p>
                </div>

                <div class="col-md-2 text-center footer-links">
                    <span class="mt-5 mb-3 d-block font-14">دسترسی سریع</span>
                    <ul class="list-unstyled">
                        <li class="my-3"><a href="#">درباره ما</a></li>
                        <li class="my-3"><a href="#">تماس با ما</a></li>
                        <li class="my-3"><a href="#">سوالات متداول</a></li>
                        <li class="my-3"><a href="#">تاریخچه سفارشات</a></li>
                    </ul>
                </div>

                <div class="col-md-2 text-center footer-links">
                    <span class="mt-5 mb-3 d-block font-14">لینک های مفید</span>
                    <ul class="list-unstyled">
                        <li class="my-3"><a href="#">حساب کاربری</a></li>
                        <li class="my-3"><a href="#">بازپرداخت</a></li>
                        <li class="my-3"><a href="#">تخفیف</a></li>
                        <li class="my-3"><a href="#">رهگیری سفارش</a></li>
                    </ul>
                </div>

                <div class="col-md-4 search-box text-center">
                    <h6 class="my-5">برای اطلاع از  تازه ترین ها به خبرنامه ما بپیوندید!</h6>
                    <form action="" method="">
                        <div class="input-group">
                            <input type="search" name="" class="form-control rounded-pill" placeholder="ایمیل خود را وارد کنید ...">
                            <div class="input-group-append">
                                <button type="submit" name="" class="btn btn-info rounded-pill font-13">اشتراک</button>
                            </div>
                        </div>
                    </form>
                    <div class="mt-5 social-media">
                        <a href="#"><i class="fab fa-instagram p-1" id="instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter bg-info p-1"></i></a>
                        <a href="#"><i class="fab fa-youtube bg-danger p-1"></i></a>
                        <a href="#"><i class="fab fa-telegram bg-primary p-1"></i></a>
                    </div>
                </div>

            </div>


            <div class="row justify-content-end">
                <a class="topbutton"> <i class="fa fa-chevron-circle-up"> </i> </a>
            </div>


            <div class="row">
                <div class="col-12 text-center">
                    <hr>
                    <p class="text-muted font-14">© 1399 کلیه حقوق این سایت متعلق به ایزی لرن است</p>
                </div>
            </div>

        </div>
    </footer><!----- End footer ----->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/myscript.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
